// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main-container {
  margin-left: 600px;
}

#searchbar {
  height: 31px;
  width: 300px;
  border-radius: 6px;
}

#button {
  width: 72px;
  background: blue;
  color: white;
  padding: 11px;
  border-radius: 26px;
}
